@import url('shared.css');

body {
    background: #2193b0; 
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.container .content{
    width: 30%;
    min-width: 300px;
    margin: 50px auto;
    padding: 1px;
}

.container .content .list {
    list-style: none;
    margin: 30px auto;
    width: 235px;
}

.link:link, .link:visited, .link:active{
    display: inline-block;
    margin-left: -10px;
    margin-top: 3px;
    padding: 8px;
    border: 0.9px solid rgba(90, 90, 90, 0.4);
    border-radius: 8px;
}

.link:hover{
    border: 0.9px solid transparent;
    box-shadow: 0 3px 4px rgba(79, 79, 79, 0.5);
}

.link:hover i{
    color: rgb(7, 85, 188);
}